
<div class="container body-content">
    <div class="jumbotron">
        <h1>MVC Template</h1>
        <p class="lead">This is just a quick MVC Bootstrap template I slapped together.  The registration page validates but still needs to connected to the WCF Service to store the information.  Below that are just a few projects I've worked on with links to them.</p>
        <p>@Html.ActionLink("Register", "Index", "Register", null, new { @class= "btn btn-success btn-lg" })</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="jumbotron">

                <h2>Gazette-Mail Redesign</h2>
                <img src="~/Content/images/Portfolio/gazette-mail-project.png" width="100%" />

                <hr />
                <p>Before I left the newspaper, I designed the current theme that the Charleston Gazette-Mail uses.  It has since been ported to run on the TownNews CMS rather than the NewsCycle CMS.  I also designed and developed the Gazette-Mail Real Estate website, their WordPress multisite blogs and a few others.</p>
                <p>The projects I've worked on ranged from fully bespoke design and development projects like <a href="https://medicare2018.healthplan.org" target="_blank">Medicare 2018</a> which was built on Concrete5 to quick template customizations such as <a href="http://janjonesbooks.com/" target="_blank">Jan Jones Books</a>.</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="bucket">
                <a href="https://medicare2018.healthplan.org" target="_blank">
                    <img src="~/Content/images/Portfolio/screencapture-medicare2018-healthplan-org-2018-06-07-22_31_34.png" width="100%" />
                </a>
            </div>

            <div class="bucket">
                <a href="http://tessalynne.com" target="_blank">
                    <img src="~/Content/images/Portfolio/screencapture-tessalynne-2018-06-07-22_32_09.png" width="100%" />
                </a>
            </div>

            <div class="bucket">
                <a href="http://janjonesbooks.com/" target="_blank">
                    <img src="~/Content/images/Portfolio/screencapture-janjonesbooks-2018-06-07-22_32_50.png" width="100%" />
                </a>
            </div>

            <div class="bucket">
                <a href="http://marketing.healthplan.org/Symposium" target="_blank">
                    <img src="~/Content/images/Portfolio/screencapture-marketing-healthplan-org-Symposium-2018-06-07-23_10_06.png" width="100%" />
                </a>
            </div>
        </div>

    </div>
</div>